body {
    margin: 0;
    padding: 0;
    background-color: #081B00;
    color:#7ED957;
}

audio {
    background-color: #081B00; 
}

/* style the appearance of the <audio> play button */
audio::-webkit-media-controls-play-button {
    /* background-color: #F16017; */
    /* hide the default play button */
    display: none;
  }

a.register-link, a.login-link {
    color: #7ED957;
}

a.dropdown-item:hover, button.track:hover {
    background-color:  #6CB946;
}
  

.bg-navbar, .dropdown-menu, button.track {
    background-color: #7ED957;
}


button.highlighted {
    background-color:  #F16017;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.home-icon {
    margin-top: -15px;
    margin-bottom: -10px;
}

.small-logo {
    width: 60%;
    height: auto;
}

.btn-green{
    background-color: #7ED957; 
    color: #081B00;
}

.btn:hover {
    background-color: #6CB946;
    color: #FFF;
}

.alert-warning {
    border-radius: 0;
    background-color: #A4E981;
    border: none;
    color: #081B00;
}

.container-fluid {
    margin: 0 auto;
}

#player-div {
    background-color: #081B00;
    color: #F16017;
    border: 5px solid #F16017;
    border-radius: 10px;
    position: sticky;
    /* set the distance from the top */
    bottom: 0; 
    /* ensure this element is above other elements using z-index */
    z-index: 1; 
}

.content {
    margin-top: 20px; /* Create space below the sticky div */
}

.track {
    border-radius: 0;
    border-color: #6CB946;
}

.mood-form {
    width: 130%;
}

.playlist {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #F16017;
}

.sound {
    width: fit-content;
    margin-top: -37px;
}

#musicPlayer {
    border: 5px solid #F16017;
    border-radius: 50px;
}

#musicPlayer:hover {
    border-color: #7ED957;
}

#media-btns {
    border: 5px solid #7ED957;
    border-radius: 50px;
}

#trackTitle:hover, #loop:hover {
    color: #7ED957;
}

.form-check-input:checked {
    background-color: #F16017;
    border-color: #F16017;
}

.form-check-input:hover {
    background-color: #7ED957;
}








  