body {
    margin: 0;
    padding: 0;
    background-color: #081B00;
    color:#7ED957;
}

/* a {
    text-decoration: none;
} */

a.register-link, a.login-link {
    color: #7ED957;
}

a.dropdown-item:hover {
    background-color:  #6CB946;
}

.bg-navbar, .dropdown-menu {
    background-color: #7ED957;
}

/* .dropdown-menu {
    background-color: #7ED957;
} */

.container-fluid {
    margin: 0;
    padding: 0;
}

.home-icon {
    margin-top: -15px;
    margin-bottom: -10px;
}

.small-logo {
    width: 60%;
    height: auto;
}

.btn-green{
    background-color: #7ED957; 
    color: #081B00;
}

.btn:hover {
    background-color: #6CB946; /*#19c37d;*/ /* #1CB953; */
    color: #FFF;
}

.alert-warning {
    border-radius: 0;
    background-color: #A4E981;   /*#ff872e;*/
    /* border-color: #081B00;
    border-width: 8px; */
    border: none;
    color: #081B00;
}

.container-fluid {
    /* width: 80%; */
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 20px; */
}

.sticky-div {
    /* display: none; */
    background-color: #7ED957;
    color: #081B00;
    padding: 10px;
    position: sticky;
    bottom: 0; /* Adjust the value to set the distance from the top */
    /* You can also use "right", "bottom", or "left" instead of "top" */
    z-index: 1; /* Ensure it's above other elements */
}

.content {
    margin-top: 20px; /* Create space below the sticky div */
}

.track-line {
    width: 300px;
}

.mood-form {
    width: 130%;
}

















/* Style the audio controls */
audio {
    /* width: 100%; */
    margin-bottom: 10px;          
  }

/* Customize the appearance of the play button */
audio::-webkit-media-controls-play-button {
  background-color: #F16017;
  color: #FFF;
}

audio {
    background-color: #081B00;
}

/* Customize the appearance of the seek bar */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
  background-color: #f1f1f1;
  color: #333;
}

/* Customize the appearance of the volume controls */
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button {
  background-color: #f1f1f1;
  color: #333;
}


.highlighted {
  background-color: lightgreen; 
}





  