{% extends 'capstone/layout.html' %}

{% load static %}

{% block body %}
        
    <script>
        // parse the JSON-formatted string into a JavaScript object to make it accessible as the 'all_tracks' variable in JavaScript code
        // Including '|escapejs' is a security precaution to  ensure that the JSON data is properly escaped to prevent syntax errors in our 
        // JavaScript code. This filter escapes special characters so the resulting JavaScript string is valid
        // ensure that special characters are properly escaped, preventing potential JavaScript errors
        var all_tracks =  JSON.parse('{{ tracks_json | escapejs }}');
    </script>
        
    {% if message %}
        <div class="alert alert-warning p-4 fs-5" role="alert">
            {{ message }}
        </div>
        <!-- The meta tag with http-equiv="refresh" attribute reloads the page after 1 second here -->
        <meta http-equiv="refresh" content="1;url={% url 'index' %}">
    {% endif %}

    <div class="col-auto d-flex justify-content-center align-items-center p-3">
        <img src="{% static 'capstone/assets/logo/EchoMood.png' %}" alt="EchoMood Logo">
    </div>

    {% if tracks %}
        <h2>{{selected_mood}} Playlist:</h2><br>
        <div class="list-group">
            {% for track in tracks %}
                <!-- <div> -->
                    <button id="{{track.gdrive_id}}" class="list-group-item list-group-item-secondary text-start track">
                        {{track.title}} - {{track.genre}}
                    </button>
                <!-- </div> -->
            {% endfor %}
        </div>
    {% else %}
        <!-- <h1>No tracks </h1> -->
        
    {% endif %}

    <div id="mood-div" style="display: none;" data-mood-select="{{ mood_select }}">
        <br>
        <div class="d-flex justify-content-center">
            <form action="{% url 'this_mood' %}" method="post">
                {% csrf_token %}
                <div class="col-auto">
                    {{ mood_form.mood }}
                </div>
                <div class="col-auto">
                    <input type="submit" class="form-control btn btn-lg btn-green" value="Submit">
                </div>
            </form><br>
        </div>
    </div>

    <!-- by default this sticky div of player is hidden -->
    <div id="player-div" class="sticky-div" style="display: none;" data-playable="{{ playable }}">
        <div class="d-flex justify-content-center align-items-center p-4" >
            <!-- Embedded Player -->
            <!-- <span id="error-messsage"></span> -->
            <h5 id="trackTitle"></h5>
            <audio id="musicPlayer" controls>
                <!-- access the first element of the queryset 'tracks' (like tracks[0] but this is Django) -->
                <source src="" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio><br>

            <div>
                <button id="playAll">Play All</button>
                <button id="pauseAll">Pause All</button>
                <button id="playNext">Play Next</button>
                <button id="playPrevious">Play Previous</button>
                <button id="stopPlayer">Stop</button>
            </div>
            <div>
                <label for="checkLoop">Loop</label> 
                <input type="checkbox" id="checkLoop">
            </div>
        </div>
    </div>

{% endblock %} 














 <!-- <div>
        <h5 id="trackTitle">{{tracks.0.title}}</h5>
        <audio id="player" controls>
            <source src="https://drive.google.com/uc?id={{tracks.0.gdrive_id}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio><br>
    </div>

    <br><br> -->