{% extends 'capstone/layout.html' %}

{% load static %}

{% block body %}

    <h1>HELLO CAPSTONE</h1> <br>

    <div>        
        <script>
            // parse the JSON-formatted string into a JavaScript object to make it accessible as the 'all_tracks' variable in your JavaScript code
            // Including '|escapejs' is a security precaution to  ensure that the JSON data is properly escaped to prevent syntax errors in our 
            // JavaScript code. This filter escapes special characters so the resulting JavaScript string is valid
            // ensure that special characters are properly escaped, preventing potential JavaScript errors
            var all_tracks =  JSON.parse('{{ tracks_json|escapejs }}');
        </script>
        TRACKS
        <ul>
            {% for track in tracks %}
                <li>
                    {{track.title}} - {{track.artist}} - {{track.genre}}
                    <br>
                    <!-- <audio id="playerx" controls>                        
                        <source src="https://drive.google.com/uc?id=track.id" type="audio/mpeg">
                        Your browser does not support the audio element. 
                    </audio><br> -->
                </li>
            {% empty %}
                <li>No tracks found.</li>
            {% endfor %}
        </ul>
        GENRES
        <ul>
            {% for genre in genres %}
                <li>
                    {{genre.name}}
                </li>
            {% empty %}
                <li>No genres found.</li>
            {% endfor %}
        </ul>
        MOODS
        <ul>
            {% for mood in moods %}
                <li>
                    {{mood.name}}
                </li>
            {% empty %}
                <li>No moods found.</li>
            {% endfor %}
        </ul>
    </div>

    <h2>My Playlist</h2>

    <div>
        <br>
        <form action="{% url 'this_genre' %}" method="post">
            {% csrf_token %}
            <label for="requested_genre" class="form-label">Enter your preferred genre</label>
            <select id="requested_genre" class="form-select" aria-label="Default select example" name="genre">
                <option selected>Genre</option>
                {% for genre in genres %}
                    <option value="{{genre.name}}">{{genre.name}}</option>
                {% endfor %}
              </select>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form><br>
    </div>

    <div>
        <!-- Embedded Player for Item 1 -->
        <audio id="player1" controls>
            <source src="https://drive.google.com/uc?id=1dS9V_4mPfOnm0SMzdLqHjIDaLNOBKSO0" type="audio/mpeg">
            Your browser does not support the audio element.
            <!-- src="https://drive.google.com/file/d/1dS9V_4mPfOnm0SMzdLqHjIDaLNOBKSO0/view?usp=drive_link" -->
        </audio><br>
    </div>

    <br><br>

    <div>
        <button id="playAll">Play All</button>
        <button id="pauseAll">Pause All</button>
        <button id="playNext">Play Next</button>
        <button id="playPrevious">Play Previous</button>
        <button id="stopPlayer">Stop</button>
    </div>
    <div>
        <label for="checkLoop">Loop</label> 
        <input type="checkbox" id="checkLoop">
    </div>


{% endblock %} 