{% extends "capstone/layout.html" %}

{% load static %}

{% block body %}
    
    {% if message %}
        <div class="alert alert-warning p-4 fs-5" role="alert">
            {{ message }}
        </div>
        <!-- The meta tag with http-equiv="refresh" attribute reloads the page after 2 seconds here -->
        <meta http-equiv="refresh" content="2;url={% url 'login' %}">
    {% endif %}

    <div class="row container-fluid d-flex justify-content-center align-items-center mt-4 pt-4">
        <div class="col-md-6 p-3">
            <h1 class="m-3">Discover, Stream, and Synchronize.</h1>
            <img src="{% static 'capstone/assets/logo/EchoMood.png' %}" alt="EchoMood Logo" class="ms-5 ps-5 small-logo">
        </div>

        <div class="col-md-4 p-3">
            <div class="d-flex justify-content-center">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    <div class="col-auto mb-4">
                        {{ login_form.username }}
                    </div>
                    <div class="col-auto mb-4">
                        {{ login_form.password }}
                    </div>
                    
                    <div class="col-auto">
                        <input type="submit" class="form-control btn btn-lg btn-green mt-2 mb-4 fs-4" value="Log In">
                    </div>
                </form>
            </div>
            <br>
            <p class="text-center mt-2 fs-4">
                Don't have an account? <a href="{% url 'register' %}" class="mx-2 register-link"><strong>Register here.</strong></a>
            </p>
        </div>        
    </div>

{% endblock %}