{% extends "capstone/layout.html" %}

{% load static %}

{% block body %}

    {% if message %}
        <div class="alert alert-warning p-4 fs-5" role="alert">
            <!-- With the 'linebreaks' filter, line breaks (newlines) in the 'message' content will be converted into HTML <p> and <br> tags, 
            preserving the original formatting when displayed in the rendered HTML -->
            {{ message | linebreaks  }}
        </div>
        <!-- The meta tag with http-equiv="refresh" attribute reloads the page after 6 seconds here -->
        <meta http-equiv="refresh" content="6;url={% url 'register' %}">
    {% endif %}


    <div class="row container-fluid">
        
        <div class="col-auto m-5 p-5">
            <h1 class="mb-3">Discover, Stream, and Synchronize.</h1>
            <div class="d-flex justify-content-center">
                <img src="{% static 'capstone/assets/logo/EchoMood.png' %}" alt="EchoMood Logo" class="small-logo">
            </div>
        </div>

        <div class="col-auto m-5 p-5 container">
            <div class="d-flex justify-content-center">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    <div class="col-auto mb-4">
                        {{ register_form.username }}
                    </div>
                    <div class="col-auto mb-4">
                        {{ register_form.email }}
                    </div>
                    <div class="col-auto mb-4">
                        {{ register_form.password }}
                    </div>
                    <div class="col-auto mb-4">
                        {{ register_form.confirmation }}
                    </div>
                    
                    <div class="col-auto">
                        <button type="submit" class="form-control btn btn-lg mt-2 mb-4 fs-4 btn-green">
                            Register
                        </button>
                    </div>
                </form>
            </div>
            <br>
            <p class="text-center mt-2 mb-4 fs-4">
                Already have an account? <a href="{% url 'login' %}" class="mx-2 login-link"><strong>Log In here.</strong></a>
            </p>
        </div>

    </div>

{% endblock %}